.inputClass {
  border: solid 1px #3880ff;
  border-radius: 8px;
  padding-left: 10px;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.automaticinputClass {
  border: solid 1px #eb445a;
  border-radius: 8px;
  padding-left: 10px;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.stackClass {
  margin-bottom: 10px;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.remotetypeclass {
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 40px;
}

ion-input {
  --padding-start: 12px !important;
}

.receiptnoClass {
  margin-right: 20px;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

ion-datetime {
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ion-button-class {
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button-row-class {
  padding: 20px;
}

.saveandexitButton {
  margin: 10px;
}


.uploadimageClass {
  height: 180px;
  width: 180px;
  border: solid 1px #3880ff;
  margin: 10px;
}

.textClass {
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.specialStackClass {
  font-size: 12px;
  margin-left: 15px;
}

