<ion-header>
  <ion-toolbar>
    <ion-title>Edit Car Sub Model</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmitNext(f)">
    <ion-grid *ngIf="selectedSubModel !== undefined">
      <ion-row>
        <ion-col>
          <ion-card class="car-model-card-class">
            <div class="img-wrapper">
              <img src="{{selectedSubModel.icon}}" />
            </div>
            <div class="right-class">
              <div class="ion-text-end">
                <ion-badge color="danger">{{selectedSubModel.typeofignition}}</ion-badge>
              <br>
              <ion-label class="margin-class-car">{{selectedSubModel.profile}}</ion-label>
              <br>
              <ion-label class="margin-class-car">{{selectedSubModel.chipID}}</ion-label>
              <br>
              <ion-label class="margin-class-car">{{selectedSubModel.freq}}</ion-label>
              </div>


            </div>
            <ion-card-content class="ion-text-start">
              <h2 style="color: white; font-weight: 700;">{{selectedSubModel.model}} {{selectedSubModel.submodel}}</h2>
                    <ion-text color="medium">
                      <div style="display: flex;" class="ion-justify-content-start">
                        <ion-icon class="calender-icon" name="calendar-outline">
                        </ion-icon>
                        <p style="color: white; font-weight: 500;">{{selectedSubModel.startyear}} - {{selectedSubModel.endyear}}</p>
                      </div>
                    </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-item lines="none">
            <ion-label position="stacked" class="stackClass">Ignition Type</ion-label>
            <ion-select interface="popover" class="inputClass" [ngModel]="selectedSubModel.typeofignition" name="remotetype">
              <ion-select-option value="Bladed">Bladed</ion-select-option>
            <ion-select-option value="Prox">Keyless</ion-select-option>
            <ion-select-option value="Slot">Slot</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item lines="none">
            <ion-label position="stacked" class="stackClass">Transponder ID</ion-label>
            <ion-select interface="popover" class="inputClass" [ngModel]="selectedSubModel.chipID" name="remotechip">
              <ion-select-option *ngFor="let chip of allhttprequestservice.allRemoteChips" [value]="chip">{{chip}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item lines="none">
            <ion-label position="stacked" class="stackClass">Blade</ion-label>
            <ion-select class="inputClass" [ngModel]="selectedSubModel.profile" name="remoteblade">
              <ion-select-option *ngFor="let blade of allhttprequestservice.allRemoteBlades" [value]="blade">{{blade}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-item lines="none">
            <ion-label position="stacked" class="stackClass">Frequency</ion-label>
            <ion-select class="inputClass" [ngModel]="selectedSubModel.freq" name="remotefrequency">
              <ion-select-option *ngFor="let frequncy of allhttprequestservice.allRemoteFrequency" [value]="frequncy">{{frequncy}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item lines="none">
            <ion-label position="stacked" class="stackClass">Start Year</ion-label>
            <ion-input class="automaticinputClass" [ngModel]="selectedSubModel.startyear" name="selectedSubModelStartYear" type="number"required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item lines="none">
            <ion-label position="stacked" class="stackClass">End Year</ion-label>
            <ion-input class="automaticinputClass" [ngModel]="selectedSubModel.endyear" name="selectedSubModelEndYear" type="number" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1" class="ion-align-self-end ion-text-end">
          <ion-button (click)="commonphotoArrayUploadService.addNewToGallery()">
            <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" *ngFor="let photo of commonphotoArrayUploadService.photos; index as position">
          <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)" class="uploadimageClass"></ion-img>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" color="success" class="ion-button-class saveandexitButton" [disabled]="!f.valid" (click)="f.ngSubmit.emit()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      SAVE AND UPLOAD
    </ion-button>
  </ion-toolbar>
</ion-footer>
