.imageBackgroundClass {
  background-color: white;
}

ion-card {
  box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
  border-radius: 15px;
  text-align: left;
  margin: 7px;
}

#boxNumber {
  font-size: 20px;
}

.primarytext {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#boxnumberID {
  font-size: 30px;
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;
}

#boxnumberID {
  font-size: 30px;
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;
}

.saveTag {
  font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 12px;
}

.checkAddedButtonDiv {
  text-align: end;
}

.checkButton {
  margin-top: 10px;
  margin-right: 10px;
}

