ion-card {
  border-radius: 5px;
  text-align: left;
  margin: 5px 10px;
}

#boxNumber {
  font-size: 20px;
}

ion-chip {
  display: flex;
  margin-top: 20px;
  width: 50%;
  justify-content: center;
}

ion-badge {
  border-radius: 10px;
  margin-left: 10px;
}


.primarytext {
  font-family: futura-pt,sans-serif;
font-weight: 700;
font-style: normal;

}


.fontsize {
  font-size: 30px;
}

.fabbutton {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: end;
}

.imageColoum {
  text-align: end;
}

.saveTag {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

.shellClass {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}

#boxnumberID {
  font-size: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.availableClass {
  margin-left: 20px;
}

.fontClass {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}


.right-class {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}

.left-class {
  float: left;
}

