.buttonColClass {
  border: solid 2px #3880ff;
  border-radius: 5px;
  // margin: 20px;
  padding: 20px;
}

ion-item {
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}

ion-text {
  margin-left: auto;
  margin-right: auto;
}

.fontClass {
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-style: normal;
}
.marginclass {
  margin-left: 10px;
}
