<ion-buttons slot="start">
  <ion-button class="closeButtonClass" (click)="_onClickDismiss()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-item>
        <ion-label class="stackClass" position="stacked">Add {{addnewCategory}}</ion-label>
        <ion-input class="inputClass ion-text-uppercase" ngModel name="newcomponent" required></ion-input>
      </ion-item>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="f.ngSubmit.emit()" color="success" expand="block" [disabled]="!f.valid">Add</ion-button>
  </ion-toolbar>
</ion-footer>
