.font-class {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;

}




.product-information-dynamic {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;

}

.product-information-static {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
}



.imageClass {
    border-radius: 10px;
}
